.cursorrules
.cursor/
.claude/
.editorconfig
*.ncu-rep
*~
.cache/
.vscode/*
assets
assets/**
benchmark-*/
build*/
imgui.ini
optix.props
private.cmake
tmp*.png
tmp/
__pycache__/
vs-chromium-project.txt
scenes
scenes/**
data
data/**
reference
reference/**
hooks/
lfs/
log
